@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap')

$black: #121213
$dark: #3a3a3c
$success: #538d4e
$warning: #b59f3b
$primary: #61598c
$danger: #f5793a
$info: #81a1c1
$family-sans-serif: "Red Hat Text", sans-serif

input,
button
  border-radius: 0px !important

@import '../node_modules/bulma/bulma.sass'
